{% extends 'base.html' %}

{% block content %}
    <center>
        {% if databaseContent != 0 and current_user.is_authenticated() == false%}
        {% else %}
            {% if databaseContent == 0 %}
                <b><h1>Add Owner</h1></b>
            {% endif %}
            <h1>Please enter your information</h1>
            <p>Press Submit when finished</p>
            <br/>
            <br/>
            <form form action= {{ url_for("cAdd_employee", companyName=companyName) }} method="post">
                {{ form.hidden_tag() }}
                {{ form.name(class="form-control", placeholder="Enter Name (ex:first last)") }}
                <br/>
                {{ form.username(class="form-control", placeholder="Enter Username") }}
                <br/>
                {{ form.password(class="form-control", placeholder="Enter Password") }}
                <br/>
                {{ form.email(class="form-control", placeholder="Enter a Valid Email") }}
                <br/>
                {{ form.phone_number(class="form-control", placeholder="Enter Phone Number (ex: 5556667777)") }}
                <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        {% endif %}
    </center>
{% endblock %}