<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>  
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'prev,next',
                {% if position >= 1 %}
                    center: 'addEmployeeButton',
                {% endif %}
                right: 'timeGridWeek,dayGridMonth' // user can switch between the two
            },
            {% if position >= 1 %}
                customButtons: {
                    addEmployeeButton:{
                        text: "Add Employee to Schedule",
                        click: function(){
                            //Modal is in <head> of base.html
                            $('#scheduleEmployeeModal').modal();
                        }
                    }
                },
            {% endif %}
            //the below jquery parses the string into an array of objects and replaces all is to repace html encoded &#34; characters with the proper " character
            events: jQuery.parseJSON("{{getScheduleStr}}".replaceAll("&#34;", '\"'))
            //events: 
        });
        calendar.render();
    });

    

</script>
