<!-- Kiam Kaiser
     CS498
     Professor Scott Spetka -->
{% extends 'base.html' %}
<head> {% include addToScheduleModal.html %} </head>

{% block content %}
    <center>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <!-- employee calendar -->
        <div id = "calendar">
            {% include calendar.html %}
        </div>
        <div>
            <h1> A Chatroom for employees to discuss will go here </h1>
        </div>
    </center>
{% endblock %}