<!-- Kiam Kaiser
     CS498
     Professor Scott Spetka -->
{% extends 'base.html' %}

{% block content %}
    <center>
    {% if request.path[:3] == '/c/' %}
        <!-- __________________below here for company pages______________________-->
        {% if current_user.is_authenticated() %}
            <h1>Hello, {{ current_user.name }}!</h1>
            <p>Please clock in or clock out by clicking the buttons below</p>
            <br/>
            <br/>
            <a href={{ url_for("cClock_in", companyName = companyName)}} class="btn btn-success btn-lg" role="button">Clock-In</a>
            <br/>
            <br/>
            <a href={{ url_for("cClock_out", companyName = companyName)}} class="btn btn-danger btn-lg" role="button">Clock-Out</a>

        {% else %}
            <h1>Please Enter Your Login Info Below</h1>
            <p> or click add employee in the navbar to register</p>
            <div class = "shadow p-3 mb-5 bg-body rounded">
                <form form action="/c/{{ companyName }}/p" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.username(class="form-control", placeholder="Enter Username") }}
                    <br/>
                    {{ form.password(class="form-control", placeholder="Enter Password") }}
                    <br/>
                    {{ form.login(class="btn btn-primary") }}
                </form>
            </div>
        {% endif %}
    
        <!-- _____________________below here for demo pages______________-->
    {% else %}
        {% if current_user.is_authenticated() %}
            <h1>Hello, {{ current_user.name }}!</h1>
            <p>Please clock in or clock out by clicking the buttons below</p>
            <br/>
            <br/>
            <a href="/clock_in" class="btn btn-success btn-lg" role="button">Clock-In</a>
            <br/>
            <br/>
            <a href="/clock_out" class="btn btn-danger btn-lg" role="button">Clock-Out</a>

        {% else %}
            <h1>Please Enter Your Login Info Below</h1>
            <p> or click add employee in the navbar to register</p>
            <div class = "shadow p-3 mb-5 bg-body rounded">
                <form form action="/" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.username(class="form-control", placeholder="Enter Username") }}
                    <br/>
                    {{ form.password(class="form-control", placeholder="Enter Password") }}
                    <br/>
                    {{ form.login(class="btn btn-primary") }}
                </form>
            </div>
        {% endif %}

    {% endif %}
    </center>
{% endblock %}
