<!-- Kiam Kaiser
     CS498
     Professor Scott Spetka -->
<!-- ____________________below is for when using company name________________________________-->
{% if request.path[:3] == '/c/' %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-3" href={{ url_for('cIndex', companyName=companyName) }}>Paperless Time</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      {% if current_user.is_authenticated() %}
        <ul class="navbar-nav me-auto">
          <li class="nav-item text-center">
              <a class="nav-link" href={{ url_for('cDashboard', companyName=companyName) }}>Dashboard</a>
          </li>
          <li class="nav-item text-center">
              <a class="nav-link" href={{ url_for('cSchedule', companyName=companyName) }}>Schedule</a>
          </li>
          <li class="nav-item text-center">
              <a class="nav-link" href={{ url_for('cChatroom', companyName=companyName) }}>Chatroom</a>
          </li>
          <li class="nav-item text-center">
              <a class="nav-link" href={{ url_for('cClock_in', companyName=companyName) }}>Clock-In</a>
          </li>
          <li class="nav-item text-center">
              <a class="nav-link" href={{ url_for('cClock_out', companyName=companyName) }}>Clock-Out</a>
          </li>
        </ul>
        <!-- me is margin end(right) ms is margin start(left)-->
        <ul class="navbar-nav navbar-right ms-auto ">
          {% if current_user.position == 2%}
            <li class="nav-item text-center">
              <a class="nav-link mt-1" href={{ url_for('cAdd_employee', companyName=companyName) }}>Add New Employee</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link me-1 mt-1" href={{ url_for('cSettings', companyName=companyName) }}><h5><i class="bi bi-gear-fill"></i></h5></a>
            </li>
          {% endif %}
          <li class="nav-item text-center">
            <a href={{ url_for('cLogout', companyName=companyName) }} class="btn btn-secondary mt-1 " role="button">Logout</a>
          </li>
        </ul>
      {% endif %}
        {%if databaseContent == 0 and not 'signup' in request.path%}
          <ul class="navbar-nav navbar-right ms-auto ">
            <li class="nav-item text-center">
              <a class="nav-link mt-1" href={{ url_for('cAdd_employee', companyName=companyName) }}>Add Owner</a>
            </li>
          </ul>
        {% endif %}
      </div>
  </nav>
{% else %}

<!-- ______________below is for welcome________________-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand ms-3" href={{ url_for('index')}}>Paperless Time</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
{% endif %}
