<!-- Kiam Kaiser
     CS498
     Professor Scott Spetka -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href={{ url_for('index') }}>Paperless Time</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('add_employee') }}>Add Employee</a>
      </li>
    {% endif %}

    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('dashboard') }}>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('schedule') }}>Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('chatroom') }}>Chatroom</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('index') }}>Clock-In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ url_for('index') }}>Clock-Out</a>
        </li>
    {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/logout" class="btn btn-secondary" role="button">Logout</a>
    </form>
  </div>
</nav>