<!-- Kiam Kaiser
     CS498
     Professor Scott Spetka -->
{% extends 'base.html' %}

{% block content %}
    <center>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
        <h1> Uh Oh! This page isn't quite ready yet! Please check back soon! </h1>
    </center>
{% endblock %}